@CHARSET "ISO-8859-1";

.root {
	-fx-alignment: center;
	-fx-padding: 0px 0px 12px 0px;
	-fx-font-family: "Ubuntu";
	-fx-background-color: #e7e5e4;
	
}

#titleLabel {
	-fx-max-width: 800px;
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-padding: 6px;
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(#3d3c38, #525049);
}

.text-field {
	-fx-font-size: 14pt;
	-fx-highlight-fill: #ee7443;
}

.text-field:focused {
	-fx-background-color: #ee7443, -fx-text-box-border, -fx-control-inner-background;
  -fx-background-insets: -0.4, 1, 2;
  -fx-background-radius: 3.4, 2, 2;
}

.invalid-field {
	-fx-background-color: red;
}

#grid {
	-fx-padding: 12px;
	-fx-alignment: CENTER;
	-fx-hgap: 12px;
	-fx-vgap: 12px;
}

.label {
	-fx-font-size: 32pt;
}

.button {
	-fx-text-fill: white;
	-fx-font-size: 18pt;
	-fx-background-color: linear-gradient(#525049, #3d3c38);
}

.button:hover {
	-fx-background-color: linear-gradient(#3d3c38, #525049);
}
